* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: rgb(132, 144, 255);
    background: url('../imgs/bg.jpg') no-repeat center center fixed;
    background-size: cover;
    text-align: center;
    font-family: sans-serif;
    font-family: 'Jura', sans-serif;
}

button {
    cursor: pointer;
    outline: none;
}

a {
    text-decoration: none;
}

input {
    outline: none;
}

textarea {
    resize: none;
}
/* FOOTER */

.main-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(77, 70, 70);
    color: white;
    border-top: 2px solid #000;
}

.main-footer span {
    margin-inline-end: 1rem;
    font-size: 1.5rem;
    color: rgb(26, 135, 238);
}